.main{
    height: 100%;
    width: 100%;
}
.top{
    height: 10%;
    width: 100%;
    background-color: red;
}
.child{
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   
}
.elements{
    height: 400px;
    width: 300px;
    background-color: antiquewhite;
    margin: 10px;

}

