 <div class="main">
    <div class="child">
           <form [formGroup]="vehicleForm">
            <h1 *ngIf="!id">create vehicle form</h1>
            <h1 *ngIf="id">Update Vehicle</h1>
            <label for="">vehicle</label>
            <input type="text" formControlName = "Vehicle">
            <br>
            <label for="">manufacturer</label>
            <input type="text" formControlName = "manufacturer">
            <br>
            <label for="">model</label>
            <input type="text" formControlName = "model">
            <br>
            <label for="">type</label>
            <input type="text" formControlName = "type">
            <br>
            <label for="">color</label>
            <input type="text" formControlName = "color">
            <br>
            <label for="">image</label>
            <input type="text" formControlName = "image">
            <div class="button">
                <button class="btn btn-warning" (click)="submit()">{{id ? 'update' :'Submit'}}</button>
            </div>




        </form>
    </div>
</div>
