.parent{
    height: 100vh;
    width: 100vw;
    background-color:aqua ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child{
    height: 35%;
    width: 28%;
    background-color:antiquewhite;
    padding-left: 10px;
    padding-top: 20px;
    border-radius: 10px;
    border: 2px solid;
}
.child input{
    height: 12%;
    width: 90%;
}
button{
    width: 93%;
    height: 15%;
    margin-top: 20px;
    background-color: blue;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}