<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Vehicle</th>
            <th>Manufacture</th>
            <th>Model</th>
            <th>Type</th>
            <th>Color</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicl of vehicle">
            <td>{{vehicl.id}}</td>
            <td>{{vehicl.Vehicle}}</td>
            <td>{{vehicl.manufacturer}}</td>
            <td>{{vehicl.model}}</td>
            <td>{{vehicl.type}}</td>
            <td>{{vehicl.color}}</td>
            <td><img height="100px" width="100px" src="{{vehicl.image}}" alt=""></td>
        </tr>
    </tbody>
</table>
