<div class="main">
    <div class="child" *ngFor="let actor of movies; ">
        <div class="name">
            <p>{{actor.name}}</p>


        </div>
        <div class="details">
            
            <p><span>Birth year:</span> {{actor.birth_year}}</p>
            <p><span>Death year:</span> {{actor.death_year}}</p>
            <p><span>Nationality:</span> {{actor.nationality}}</p>
            <p><span>Awards:</span><br> {{actor.awards}}</p>
            <p><span>Known For:</span><br>{{actor.known_for}}</p>

        </div>
        <div class="biography">
            <p><span>Biography:</span><br>{{actor.biography}}</p>

        </div>
        <div class="buttons">
            <button class="btn btn-info">Edit</button>
            <button class="btn btn-danger" (click)="delete(actor.id)">Delete</button>

        </div>
        <!-- <p>{{movie.name}}</p> -->
        <div class="image">
            <img src="{{actor.image}}" alt="" height="120px" width="120px">
        </div>
    </div>
</div>
