*{
    margin: 0;
}
.main{
    height: auto;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* overflow: auto; */
    
}
.product{
    height: 350px;
    width: 230px;
    background-color: white;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    margin: 10px;
    overflow: hidden;
    /* text-align: center; */
}
.product:hover{
    /* height: auto; */
    cursor: pointer;
    
}