<div class="parent">
    <div class="left">
        
       <div class="top">
        <h1>My website</h1>
        <hr>
        <p routerLink="home">Home</p>
        <p routerLink="about">About</p>
        <p routerLink="databinding">Data Binding</p>
        <p routerLink="calculator" >Calculator</p>
        <p routerLink="rectangular">Rectangular</p>
        <p routerLink="circle">Circle</p>
        <p routerLink="bmi">BMI</p>
        <p routerLink="directives" >Directives</p>
        <p routerLink="marks">Marks</p>
        <p routerLink="table">Table</p>
        <p routerLink="event">Event</p>
        <p routerLink="cars">Cars</p>
        <p routerLink="products">Products</p>
        <p routerLink="vehicle">Vehicle</p>
        <p routerLink="accounts">Accounts</p>
        <p routerLink="flipkart">Flipkart</p>
        <p routerLink="mails">Mails</p>
        <p routerLink="activities">Activities</p>
        <p routerLink="gallary">Photo Gallary</p>
        <p routerLink="school">School App</p>
        <!-- <p routerLink="json">Json PUT</p> -->
        <!-- <p routerLink="putaccounts">PUT Acounts</p> -->
        <p routerLink="create-user">Create User</p>
        <p routerLink="create-task"> Create Task</p>
        <p routerLink="parent">Parent</p>
        <p routerLink="displaytask">Display Task</p>
        <p routerLink="cocktail">Cocktail</p>
        <p routerLink="movies">Movies</p>
        <p routerLink="siblings">Siblings</p>
        <p routerLink="calctask">Calc Task</p>
        <p routerLink="about-company">About Company</p>
        <p routerLink="contact/contact-company">Contact company</p>
        <p routerLink="todoapp">Todo App</p>
        <!-- <p routerLink="putschool">PUT School</p> -->

        
       </div>

       <div class="buttom">
        <button (click)="logout()">Logout</button>
       </div>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
