<div class="parent">
    <div class="left">
        
       <div class="top">
        <h1>My website</h1>
        <hr>
        <p routerLink="home">Home</p>
        <p routerLink="about">About</p>
        <p routerLink="databinding">Data Binding</p>
        <p routerLink="calculator" >Calculator</p>
        <p routerLink="rectangular">Rectangular</p>
        <p routerLink="circle">Circle</p>
        <p routerLink="bmi">BMI</p>
        <p routerLink="directives" >Directives</p>
        <p routerLink="marks">Marks</p>
        <p routerLink="table">Table</p>
       </div>

       <div class="buttom">
        <button routerLink="/login">Logout</button>
       </div>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
